<a href="https://colab.research.google.com/github/superlui04/SLDdatanalyticscertification/blob/main/Introduction_to_Python_Rakhi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python programming

**PLEASE DO NOT MODIFY THIS NOTEBOOK**

See the instructions below on how to make your own copy

## 0. How to use Colab

### 0.1. Make a Copy

- You will not be able to edit this notebook directly, instead you will need to edit your own copy.
- Click: **File** -> **Save a copy in Drive**
- Follow the prompts to open "Copy of 01 - Introduction-to-Python.ipynb"
- Save a bookmark of your notebook so you can find it later (these are the exercises you will use during the workshop).

![copy to drive](https://i.imgur.com/LQQxu9wl.png)

### 0.2. Cells

- The grey blocks of code are called cells. 
- You can edit cells by clicking on them and typing
- You can run a cell by hovering over the cell and clicking the play button, or using the cmd/ctrl + Enter keyboard shortcut
- When you run a cell, the code in the cell can change the state of your notebook session. 
- Cells can depend on things that are defined in other cells, so the order that you run the cells in is important.
- When you run a cell, it will print the result of the last line in the cell.
- As you go through these exercises, try to guess what the output of each cell is going to be before running it.
- The first time you run a cell, it might take a few seconds to start working, that's normal

![alt text](https://i.imgur.com/H4xTmyp.png)

In [1]:
print("hello world")

hello world

print("hello world")

## 1. Variables and Fundamental Types

A variable is a convenient way of having Python store something for you. You can give variables names, then use these variables later on in your program.

You can think of variables as "pointing to" a value

![alt text](https://lh6.googleusercontent.com/rw-uGPI_qR_8Ibn63sIXng5p-1BHX_KIuJvXB6iw9nN9J2w77R8R3F4ZCATOH15lLiWmMvAQOuBqB743o6EDLrQiEgNPR4nBeFrH5xmos2GzVdJ0__oNi57ydCIkfhJHFmQi4mG21oU)

Another way to think about it is that variables are a box that can hold information for you.

![alt text](https://lh6.googleusercontent.com/l03i44kUiA_HU-xe6aNpitEx0rpuQPJG7kYU4_SHdzy6o79lwIXYyQ80HhtYxXvmLBhaiokgywA0bzaTmuT3q1Ea4XnJ7Mdf0mrX8GroHAFPbtPvNBeAa5LjZZOrmeL2xVgVMOA9QCs)

**Rules**

variables:
- start with a letter (a-z)
- can contain numbers (but not at the start)
- typically should be `snake_case`, which means they:
  - are all lower case
  - `have_underscores_between_words`

**Suggestions**

- more than 3 characters long
- use meaningful names
- avoid acronyms or abbreviations that aren't obvious

### 1.1. Variable Assignment

When you want python to store a value for you under a given name, you use the `=` symbol to give value on the right to the variable on the left. We call this variable assignment.

In [2]:
name = "Maria"
eggs = 15
candies = 10

You can even assign variables to other variables

In [3]:
my_variable = name

In [4]:
my_variable

'Maria'

In [5]:
# Do not use any keyword for variable names

def = 1

SyntaxError: ignored

In [6]:
#Variable Name - Start with an alphabet or an underscore

12name = 'SLD'



name = 'SLD'
_name = 'SLD'

SyntaxError: ignored

In [7]:
-name = 'SLD'

SyntaxError: ignored

In [8]:
my_variable

'Maria'

### 1.2. Using Variables

Now lets do something useful with these varables. We can use the `print()` function to print anything inside the brackets (parentheses)

In [9]:
print(eggs)
print(candies)
print(name)

15
10
Maria

### 1.3. Multiple Assignments

You can make your code shorter by assigning multiple variables on a single line. Here's an example of some code that could be shortened.

In [ ]:
red = 5
green = 3.2
blue = 7
print(red, green, blue)

5 3.2 7

The exact same code can be written as a single statement like this:

In [10]:
red, green, blue = 5, 3.2, 7
print(red, green, blue)

5 3.2 7

### 1.4. Exercise 

Use the code block below to assign your favourite colour to a variable called `best_colour`. If your favourite colour is `"brown"`, your code might look like this:

```
best_colour = "brown"
```

In [12]:
best_colour = "pink"  # replace the ... with your favourite colour

When you've run your code, the next cell will let everyone know that your favourite colour is the best colour.

In [13]:
print("the best colour is " + best_colour)

the best colour is pink

### 1.5. Fundamental Types 
Although sometimes it is not mentioned in the code, all variables have a type associated with them. The type is derived from the value that was assigned to it. 

We can use the `type` function to ask Python what the type of a variable is. 

There are several types in Python that are a fundamental part of the language. Below is an example of what happens when we use `type` on variables that contain different fundamental types.

A **`bool`** (boolean) is a value that can only be `True` or `False`, nothing else. 

This is similar to how a light bulb can only be on or off.

![image.png]()

In [14]:
Black = True
White = False
print(type(Black))
print(type(White))

<class 'bool'>
<class 'bool'>

an **`int`** (integer) is a whole number

In [15]:
bananas = 8
type(bananas)

int

a **`float`** (floating point) is a number that isn't a whole number

In [16]:
apples = -1.5
type(apples)

float

If you're writing down a really big number, you might group digits together in groups of three with commas. Instead of commas, python uses underscores.

In [17]:
elephant = 1_432_391_323  # this is the same as 1,432,391,323
type(elephant)

int

### 1.6. Re-Assigning Variables

If we assign a new value to a variable, its type is allowed to change. In this example, `beans` has the type boolean, but when we re-assign (or overwrite) `beans` with a new value, it doesn't have to be of the same type

In [18]:
beans = True
print(type(beans))

<class 'bool'>

In [19]:
beans = 1.2
print(type(beans))

<class 'float'>

### 1.7. Undefined Variables
If we try to use a variable that has not yet been defined we get an `NameError`:

In [20]:
print(i_dont_exist_yet)

NameError: ignored

### 1.8. Type Checking

if we want to perform a check on whether a variable is a type, we can use the `is` keyword. `type(variable) is some_type` will return `True` or `False` depending on whether the variable matches the type

In [21]:
orange = 1.0

# check if the variable x is a float
type(orange) is float

True

In [22]:
# check if the variable x is an int
type(orange) is int

False

## 2. Operators

Operators take in arguments and return results. Some of the operators we're going to talk about in this section are just symbols placed between two arguments and perform some kind of calculation on those arguments. Most operators and comparisons in Python work as one would expect.



### 2.1. Arithmetic operators

These are:

|Operator|What it means|
|--- |--- |
| `+` | Addition|
| `-` | Subtraction|
| `*` | Multiplication|
| `%` | Modulus |
| `/` | Division|
| `//` | Integer division|
| `**` | Exponent |

Here are some examples of operators in use for integers (e.g. 1) and floats (e.g. 1.0).

In [23]:
1 + 2

3

In [24]:
1 - 2

-1

In [25]:
1 * 2

2

In [26]:
1 / 2

0.5

In [27]:
1.0 + 2.0

3.0

In [28]:
1.0 - 2.0

-1.0

In [29]:
1.0 * 2.0

2.0

In [30]:
1.0 / 2.0

0.5

Notice any difference between the integer (whole number) calculations and the float (not whole number) calculations?

Integer division, `//` is just like regular division, but it rounds down to the nearest whole number:

In [31]:
5.0/2.0, 5.0//2.0

(2.5, 2.0)

The exponent (power) operator, `**` raises the left argument to the power of the right argument. So three squared can be written like so:

In [32]:
# Note! The exponent (power) operator in python isn't ^, but **
3 ** 2

9

The modulo operator `%` gives you the remainder after dividing the left argument by the right argument. 

For example, 7 divided by 2 is 3, remainder 1, this can be written as

### 2.2. **Further Reading** Comparison Operators

These operators take two arguments and compare them against each other. depending on the arguments, they return `True` or `False`

|Operator|What it means|
|--- |--- |
|`==`|Equal to|
|`!=`|Not equal to|
|`is`|Identical to|
|`<`|Less than|
|`>`|Greater than|
|`<=`|Less than or equal to|
|`>=`|Greater than or equal to|

In [33]:
2.is(1)

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-33-dcef5b9ef5c5>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2.is(1)

False

In [34]:
"python" == "snake"

False

In [35]:
[1, 2, 3] != [4, 5, 6]

True

####4.2.1 Exercise

In [36]:
india_pop = 1353000000
china_pop = 1393000000

# Use comparison operators to determine if the population of China is larger than or equal to India's population...
india_pop >= india_pop

True

In [37]:
## Try different options here...

In [38]:
7//2, 7%2

(3, 1)

## 3. Compound Types

These types are a little bit more different than fundamental types because they can "contain" other types. The most common ones are **strings**, **lists** and **dictionaries**.

### 3.1. Strings

Strings are the variable type that is used for storing pieces of text.

In [ ]:
my_first_string = "Hello SheLovesData Community"
type(my_first_string)

str

You can get the length of a string (the number of characters) with the `len` function

In [ ]:
len(my_first_string)

28

You can use the `.replace(old, new)` function to return a new string where all of the instances of `old` have been replaced with `new`

In [ ]:
my_first_string.replace("Community", "Tribe")

'Hello SheLovesData Tribe'

You can think of strings as a list of characters. We can access these characters in a string using the index operator, `string[index]` where `index` is a number starting from 0.

The following gets the first character of the string:

In [ ]:
my_first_string[0]

'H'

#### 3.1.1 **Further Reading:** String Slicing

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [ ]:
shark[0:5]

'Hello'

In [ ]:
shark[4:5]

'o'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [ ]:
shark[:5]

'Hello'

In [ ]:

shark[6:]

'world'

In [ ]:
shark[:]

'Hello world'

these indexes can even be negative. The following gets grabs everything except the last character in the string

In [ ]:
shark[:-1]

'Hello worl'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [ ]:
shark[::1]

'Hello world'

In [ ]:
shark[::2]

'Hlowrd'

This technique is called *slicing*. Read more about the syntax here: https://docs.python.org/3/library/functions.html#slice

Python has a very rich set of functions for text processing. See for example https://docs.python.org/3/library/string.html for more information.

#### 3.1.2. String Formatting

You can print multiple strings with a single command, or add strings together (this is called concatenation)

In [ ]:
print("She", "Loves", "Data")  # The print statement concatenates strings with a space

She Loves Data

In [ ]:
print("She" + "Loves" + "Data") # strings added with + are concatenated without space

SheLovesData

#### 3.1.3. **Further Reading:** String Interpolation (Format Strings)

Python3.6 introduced a new string formatting mechanism known as *String Interpolation* or more commonly as *F-strings* (because of the `f` that appears at the front of the string, where F is short for format).

In these strings, you can place Python code inside the curly braces, and it will insert the result of that code into the string.

In [ ]:
name = "Eric"
old_points = 74
new_points = 76

print(f'Hello, {name}. You have gained {new_points - old_points} points since last time.')

Hello, Eric. You have gained 2 points since last time.

### 3.2. Lists

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is a comma separated list of elements between square braces: `[element1, element2, ...]`

Here's an example where we're uisng a list to store the names of a bunch of awesome people

In [ ]:
awesome = [
           "Jacinta Ardern",
           "Malala Yousafzai",
           "Greta Thunberg",
           "Ada Lovelace",
           "Jackie Chan",
           "Kalpana Chawla",
           "Arundhati Roy",
]

print(type(awesome))

<class 'list'>

In [ ]:
print(awesome)

['Jacinta Ardern', 'Malala Yousafzai', 'Greta Thunberg', 'Ada Lovelace', 'Jackie Chan', 'Kalpana Chawla', 'Arundhati Roy']

#### 3.2.1. List Slicing

We can use the same syntax from before to get a "slice" of a list, just like how we did with strings

In [ ]:
print(awesome)

['Jacinta Ardern', 'Malala Yousafzai', 'Greta Thunberg', 'Ada Lovelace', 'Jackie Chan', 'Kalpana Chawla', 'Arundhati Roy']

In [ ]:
print(awesome[0])

Jacinta Ardern

In [ ]:
print(awesome[0:3])  # Prints the people between index 0 and 2

['Jacinta Ardern', 'Malala Yousafzai', 'Greta Thunberg']

#### 3.2.3. Modifying Lists 

You can `append`, `insert`, and `remove` items (elements) from lists.

Let's create a list of Colors one by one

In [ ]:
# create a new empty list
color = []

# add elements to the end of the list using `append`
color.append("Red")
color.append("Blue")
color.append("Green")
color.append("Yellow")

print(color)

['Red', 'Blue', 'Green', 'Yellow']

We can modify lists by assigning new values to elements in the list.

In [ ]:
color[1] = "Purple"  # change the color at index 1 (the second color) to Wartortle
color[2] = "White"  # change the color at index 2 (the third color) to Ivysaur

print(color)

['Red', 'Purple', 'White', 'Yellow']

In [ ]:
color.remove("Yellow")

print(color)

['Red', 'Purple', 'White']



There are plenty more things that you can do with lists, like `extend` and `sort`, see `help(list)` for more details, or read the online documentation.

### 3.3. Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*, this means that once a tuple is created, you can't add or remove elements from it without creating a new tuple.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [ ]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [ ]:
x, y = point 

print("x =", x)
print("y =", y)

x = 10
y = 20

if we try to assign some variables to a tuple, but the number of variables is different to the length of the tuple, we get an error

In [ ]:
x, y, z = (1, 2)

ValueError: ignored

If we try to assign a new value to an element in a tuple we get an error:

In [ ]:
point[0] = 20

TypeError: ignored

### 3.4. Dictionaries

Dictionaries are a bit like lists, except that each element is a key-value pair. The syntax for defining dictionaries is `{key1 : value1, key2 : value2 ... }`

You could use a dictionary to store information about color.

In [ ]:
SLD = {
    "name": "SheLovesData",
    "chapter": ["India", "Singapore","Indonesia"],
    "members": 1500,
    "workshops": 199,
    "volunteers": 235,
    "channel": "whatsapp",
    "session1": "SQL",
    "startdate": '2023-04-15'
}

In [ ]:
print(type(SLD))

<class 'dict'>

In [ ]:
print(SLD)

{'name': 'SheLovesData', 'chapter': ['India', 'Singapore', 'Indonesia'], 'members': 1500, 'workshops': 199, 'volunteers': 235, 'channel': 'whatsapp', 'session1': 'SQL', 'startdate': '2023-04-15'}

To look up values in a dictionary, you can use the syntax `dictionary[key]`

In [ ]:
SLD['members']

1500

In [ ]:
SLD['channel']

'whatsapp'

In [ ]:
print(SLD['channel'])

whatsapp

We can modify a dictionary as below

In [ ]:
SLD["volunteers"] = 400
print(SLD)

{'name': 'SheLovesData', 'chapter': ['India', 'Singapore', 'Indonesia'], 'members': 1500, 'workshops': 199, 'volunteers': 400, 'channel': 'whatsapp', 'session1': 'SQL', 'startdate': '2023-04-15'}

We can also create new entries in a dictionary that weren't there when we defined it.

In [ ]:
SLD["hosting chapter"] = "India"
print(SLD)

{'name': 'SheLovesData', 'chapter': ['India', 'Singapore', 'Indonesia'], 'members': 1500, 'workshops': 199, 'volunteers': 400, 'channel': 'whatsapp', 'session1': 'SQL', 'startdate': '2023-04-15', 'hosting chapter': 'India'}

Dictionaries have functions for accessing all of the keys, values and key-value pairs (items).

In [ ]:
print(SLD.keys())  # all the names of SLD's attributes
print(SLD.values()) # all the values of SLDs attributes
print(SLD.items()) # all of SLD's attributes as tuples of (attribute name, value)

dict_keys(['name', 'chapter', 'members', 'workshops', 'volunteers', 'channel', 'session1', 'startdate'])
dict_values(['SheLovesData', ['India', 'Singapore', 'Indonesia'], 1500, 199, 235, 'whatsapp', 'SQL', '2023-04-15'])
dict_items([('name', 'SheLovesData'), ('chapter', ['India', 'Singapore', 'Indonesia']), ('members', 1500), ('workshops', 199), ('volunteers', 235), ('channel', 'whatsapp'), ('session1', 'SQL'), ('startdate', '2023-04-15')])

## 4. Control Flows

You can control the flow of your program by using conditional statements, these are blocks of code that only execude under certain conditions.

 In Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

### 4.1: If/Else Statements

If/else statements are a kind of conditional statement we can use to execute code only if a certain condition is true. The syntax includes the `if` and `else` keywords, as well as the optional `elif` keyword:

In [ ]:
if (10>5):
    print("10 is greater than 5")
else:
    print("10 is lesser than 5")

10 is greater than 5

In [ ]:
total = 100

if total > 100:
 print("total is greater than 100")

if total == 100:
  print("total is 100")

if total < 100:
    print("total is less than 100")

total is 100

In [ ]:
total = 100
if total == 200:
   print ("Python is fun")
elif total == 150:
   print ("Python is easy")
elif total == 100:
   print ("SLD makes Python fun")
else:
   print ("I can do this")

SLD makes Python fun

#### 4.1.1. Exercise

Using a boolean variable (`hungry`), write an if/else block that prompts you to eat if `hungry` is `True`.

In [ ]:
hungry = True

# Write your code here...

### 4.2. Example: Using if/else, logical operators and boolean operators together.

Here, we're going to use the example of test scores to understand conditionals in a little more depth. We're also going to practice using logical operators. 

We've built a program where someone can submit their score on a test and see their letter grade. What do you think the output of the code below will be?

In [ ]:
test_score = 70

if test_score >= 85:
  print("Congratulations, you've scored an A on the test!")
elif test_score >= 75 and test_score < 85: 
  print("Good work! You've scored a B on the test.")
elif test_score >= 65 and test_score < 75: 
  print("Nice! You've scored a C on the test")
else:
  print("Unfortunately you have to retake the test.")

Nice! You've scored a C on the test

We can also nest if/else statements inside other if/else statements. This is useful if you don't want a certain line of code to run all the time. For instance, we might want to send an extra message if someone recieved full marks on a test. It would make sense to nest this so it only runs when we encounter test scores in the 'A' band.

In [ ]:
test_score = 100

if test_score >= 85:
  print("Congratulations, you've scored an A on the test!")
  if test_score == 100:
        print("Full marks! Nice job!")
elif test_score >= 75 and test_score < 85: 
  print("Good work! You've scored a B on the test.")
elif test_score >= 65 and test_score < 75: 
  print("Nice! You've scored a C on the test")
else:
  print("Unfortunately you have to retake the test.")

Congratulations, you've scored an A on the test!
Full marks! Nice job!

In [ ]:
# Watch out for bad indentation!
test_score = 85
if test_score >= 85:
  print("Congratulations, you've scored an A on the test!")
  if test_score == 100:
  print("Full marks, too! Nice job!")  # this line is not properly indented so it will throw an error.

IndentationError: ignored

Let's do one more thing. We'll add a general message to everyone (regardless of their mark) to say well done on completing the test. This should run outside the if/else block as we want it to run in all cases.

In [ ]:
if test_score >= 85:
  print("Congratulations, you've scored an A on the test!")
  if test_score == 100:
        print("Full marks, too! Nice job!")
elif test_score >= 75 and test_score < 85: 
  print("Good work! You've scored a B on the test.")
elif test_score >= 65 and test_score < 75: 
  print("Nice! You've scored a C on the test")
else:
  print("Unfortunately you have to retake the test.")

  print('Well done on completing the test.') # This isn't indented correctly. It will only run if the 'else' statement is evoked.

Congratulations, you've scored an A on the test!

In [ ]:
if test_score >= 85:
  print("Congratulations, you've scored an A on the test!")
  if test_score == 100:
        print("Full marks, too! Nice job!")
elif test_score >= 75 and test_score < 85: 
  print("Good work! You've scored a B on the test.")
elif test_score >= 65 and test_score < 75: 
  print("Nice! You've scored a C on the test")
else:
  print("Unfortunately you have to retake the test.")

print('Well done on completing the test.') # This is the correct indentation - it's outside the if/else block.

Congratulations, you've scored an A on the test!
Well done on completing the test.

### 4.2. FURTHER READING: Shopping calculator. 

Write a program that determines whether you can afford to buy something based on your bank balance.


*   Define two variables. One should store your savings. The other should store the cost of the item you want to buy. 
*   Using conditionals, write an if/else block that checks whether the cost of the item is more or less than your balance. It should print a message telling you whether you can afford the item or not. 
*   Add an `elif` statement that checks if you have a credit card. Print out a message to remind yourself that you can consider credit, but to be careful.
*   You may want to add a nested `if` statement to see if you'll be spending too much of your balance on the item, even if you can afford it with your savings. You can use this to print out a warning message to yourself. 

This is just the beginning! Add as many calculations, elifs and nested if blocks as you want!

In [ ]:
# Write your program here...

## 5. Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists.

### 5.1. For Loops

This is the most common type of loop. The basic syntax is:

In [ ]:
for x in [1,2,3]:
    print(x)

1
2
3

The `for` loop loops (iterates) over the elements of the supplied list, and executes the given block of code once for each element. Most compound types can be used in `for` loops, such as lists, dictionaries and strings.

You'll commonly see the range function used in loops as a shorthand for a list of numbers starting at 0 and ending just before a given number. In this example, `range(4)` contains 4 items, and is short for the list `[0, 1, 2, 3]` (note this does does not include 4, since it starts at 0).

In [ ]:
for number in range(4):
    print(number)

0
1
2
3

If range is called with two arguments, the first argument is the starting number, and the second number is the number after the last number.

In [ ]:
for number in range(-3,3):
    print(number)

-3
-2
-1
0
1
2

For loops work with any kind of list

In [ ]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

You will sometimes see loops that iterate over multiple variables.

If you want to have a loop that does something with both the key, and the associated value in a dictionary, you can use the `.items()` function of a dictionary.

In [ ]:
for key, value in SLD.items():
    print(f"{key} = {value}")

name = SheLovesData
chapter = ['India', 'Singapore', 'Indonesia']
members = 1500
workshops = 199
volunteers = 235
channel = whatsapp
session1 = SQL
startdate = 2023-04-15

#### 5.1.1. Exercise

Print out each item in the `top_netflix_content` list.

In [ ]:
top_netflix_content = ["Orange is the New Black", "Extraction", "Bird Box", "Spenser Confidential", "6 Underground", "The Witcher", "Murder Mystery", "The Irishman", "Stranger Things", "Triple Frontier"]

# Write your code here ...
for content in top_netflix_content:
    ...

Orange is the New Black
Extraction
Bird Box
Spenser Confidential
6 Underground
The Witcher
Murder Mystery
The Irishman
Stranger Things
Triple Frontier

#### 5.1.1. **FURTHER READING:** Enumerate

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this. Remember our list of awesome women? Let's use the enumerate function to get both the index value of each item.

In [ ]:
awesome = [
  "Jacinta Ardern",
  "Malala Yousafzai",
  "Greta Thunberg",
  "Ada Lovelace",
  "Jackie Chan",
  "Kalpana Chawla",
  "Arundhati Roy",
]

for index, person in enumerate(awesome):
    print(index, person)

#### 5.1.2. **Further Reading:** List comprehension

This is a really convenient way of creating a list. You can think of it as a shorthand for writing a `for` loop which creates a list.

If you were writing a for loop to create a list based off another list, you might write something like this

In [ ]:
awesome = [
  "Jacinta Ardern",
  "Malala Yousafzai",
  "Greta Thunberg",
  "Ada Lovelace",
  "Jackie Chan",
  "Kalpana Chawla",
  "Arundhati Roy",
]

awesome_facts = []
for person in awesome:
  awesome_facts.append(f"{person} is awesome")
awesome_facts

Let's break down this for loop, and show how you can rewrite it as a list comprehension.

This is the basic structure of our for loop above, where `<item_expression>` is any single expression involving our `<item>` variable:

```python
result = []
for <item> in <list>:
  result.append(<item_expression>)
```

The basic syntax for list comprehension that does the same thing is

```python
[<item_expression> for <item> in <list>]
```

**Note:** if `<item_expression>` is just `<item>` then you end up with your original list.

So the following example is the list comprehension equivalent of the `for` loop above. 

**Note:** you can do it all in a single line!

In [ ]:
[f"{person} is awesome" for person in awesome]

List Comprehensions also allow you to "filter" a list and return a new list that meets certain conditions.

The syntax for this more advanced kind of list comprehension is

```python
[<item_expression> for <item> in <list> if <item_condition>]
```

which is equivalent to the following for loop:

```python
result = []
for <item> in <list>:
  if <item_condition>:
    reseult.append(<item_expression>)
```

So if we only think people whose first name starts with the letter `A` are awesome, then our list comprehension might look like this:

In [ ]:
[f"{person} is awesome" for person in awesome if person.startswith("A")]

here is another example of list comprehension in action:

In [ ]:
[x for x in range(0, 100) if x % 7 == 3]

#### 5.1.3. **FURTHER READING:** Dictionary Comprehension

This is the shorthand for writing for loops for dictionaries, similar to list comprehension.

let's say we have a dictionary with bunch of color and their strength value, and we want to double their strength.

If you wanted to do this using a for loop, you might do something like the example below.

Remember: `dict.items()` returns a list of key-value tuples.

In [ ]:
color_strength  = {'Charmander': 64, 'Squirtle': 29, 'Bulbasaur': 37, 'Pikachu': 18}

upgraded_color_strength = {}
for color, strength in color_strength.items():
  upgraded_color_strength[color] = strength * 2
upgraded_color_strength

In list comprehension, we used a single `<item_expression>` to create a list. When building dictionaries, we need both a `<key_expression>` and a `<value_expression>`. These expressions have access to both the key and value of the current dictionary key-value pair. 

Let's break down our for loop from the previous example:

```python
result = {}
for <key>, <value> in <key_value_tuples>:
  result[<key_expression>] = <value_expression>
```

To write this as a dictionary comprehension, the syntax is

```python
{<key_expression>: <value_expression> for <key>, <value> in <key_value_tuples>}
```

So we can rewrite our for loop like this:

In [ ]:
{color: strenght*2 for color, strenght in color_strength.items()}  # double the strength of each color

Just like list comprehension, dictionary comprehension supports filters using `if`.

Let's only upgrade the strength of the hard working color that deserve it.

In [ ]:
hard_workers = ['Squirtle','Pikachu']
{color: strenght**2 for color, strenght in color_strength.items() if color in hard_workers}

### 5.2. While Loops

This loop checks a condition (in this example, `i < 5`) and then execudes the body of the loop (the indented block of code). It only stops when this condition is `False`.

In [ ]:
counter = 0

while counter < 5:
    print(counter)
    counter = counter + 1
    
print("done")

0
1
2
3
4
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

#### 5.2.1: Exercise

Create a while loop that counts down the hours of an 8-hour work day. Your code should start at the beginning of the day with 8 `hours_remaining`, and loop through each hour in the day, decreasing `hours_remaining` by 1 each time. 

If `hours_remaining` is higher than 0, print 'Keep going.', but once you have no hours left in the work day, you can exit the loop and print "You're free!".

In [ ]:
hours_remaining = 8

# Write your for loop here...

## 6. Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

When we run the cell to define the function, it won't output anything, we need to call it in the next cell for it to actually print

In [ ]:
def test():   
    print("test")

In [ ]:
test()

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [ ]:
def describe(s):
    """
    Print a string 's' and tell how many characters it has    
    """
    print(s + " has " + str(len(s)) + " characters")

In [ ]:
help(describe)

In [ ]:
describe("this string"), describe("another string")

The above function doesn't return a value, but if we our function to return a value, then we use `return` keyword:

In [ ]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [ ]:
f"the square of four is {square(4)}"

If you're new to the idea of functions, think about it like this: When we call the function `square` with the value `4`, Python computes the answer, and replaces `square(4)` with the answer, `16` and then executes the rest of the line.

### 6.1. Exercise

In exercise 2.1.1, you used Python to replicate Shakuntala Devi's world record calculation. Now, with the power of functions you can write a function that takes any two numbers and return the result.

Write a function called `shakuntala` that takes two numbers and multiplies them. When you're finished, the code block below will check that your function is working correctly

In [ ]:
def shakuntala(a, b):
  # finish this function

This code will help you check that your function works correctly using an assertion, which is basically a way of performing a check that something holds true. If the thing being checked is false, then it causes an error.

In [ ]:
assert shakuntala(7_686_369_774_870, 2_465_099_745_779) == 18_947_668_177_995_426_462_773_730, "your function didn't work"
print("your function passed the test!")

### 6.2. **FURTHER READING:** Returning multiple values

We can return multiple values from a function using tuples (see above):

In [ ]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

In [ ]:
powers(3)

In [ ]:
red, green, blue = powers(3)

print(green)

### 6.3. **FURTHER READING:** Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [ ]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [ ]:
myfunc(5)

In [ ]:
myfunc(5, debug=True)

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [ ]:
myfunc(p=3, debug=True, x=7)

### 6.4. **FURTHER READING:** Lambda functions

In Python we can also create unnamed functions using the `lambda` keyword. We can optionally assign these functions to a variable so that they can be called later.

In [ ]:
f1 = lambda x: x**2
    
# is equivalent to 

def f2(x):
    return x**2

In [ ]:
f1(2), f2(2)

This technique is useful for example when we want to pass a simple function as an argument to another function, like this:

In [ ]:
map(lambda x: x**2, range(-3, 4))

You might have expected to see a list here, but instead we have a `map` object. 

If you want to see an actual list, you can just pass the map object to `list()` like this:

In [ ]:
list(map(lambda x: x**2, range(-3, 4)))

## 7. Errors

### 7.1. **Exercise**
In this exercise you see about errors. We are looking two different errors. 

1.   Syntax Errors
2.   Runtime Errors

In [ ]:
def my_first_function(name)
  print("Hello ", name)

main:
  my_first_function("World")
#Copy the code and execute. It will throw an error. Solve the error and execute again

SyntaxError: ignored

In [ ]:
a=100/0
print(a)

#The above code will throw a runtime exception.

ZeroDivisionError: ignored

### 7.2. **FURTHER READING:** Exception Handling
Learn about different exception handling techniques in the below link https://docs.python.org/3/tutorial/errors.html

## 8. Modules

Most of the functionality in Python is provided by *modules*. The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

To use a module in a Python program it first has to be imported. A module can be imported using the `import` statement. For example, to import the module `math`, which contains many standard mathematical functions, we can do:

In [ ]:
import math

This includes the whole module and makes it available for use later in the program. For example, we can do:

In [ ]:
import math

x = math.cos(2 * math.pi)

print(x)

Alternatively, we can chose to import all of the symbols (functions and variables) from a module to the current namespace (so that we don't need to use the prefix "`math.`" every time we use something from the `math` module. We can do this with the wildcard character `*`

In [ ]:
from math import *

x = cos(2 * pi)

print(x)

This pattern can be very convenient, but in large programs that include many modules it is often a good idea to keep the symbols from each module in their own namespaces, by using the `import math` pattern. This would elminate potentially confusing problems with name space collisions.

we can chose to import only a few selected symbols from a module by explicitly listing which ones we want to import instead of using the wildcard character `*`:

In [ ]:
from math import cos, pi

x = cos(2 * pi)

print(x)

### 8.1. **FURTHER READING:** Looking at what a module contains, and its documentation

Once a module is imported, we can list the symbols it provides using the `dir` function:

In [ ]:
import math

print(dir(math))

And using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

In [ ]:
help(math.log)

In [ ]:
math.log(10)

In [ ]:
log(10, 2)

We can also use the `help` function directly on modules: Try

    help(math) 

Some very useful modules form the Python standard library are `os`, `sys`, `math`, `shutil` or `re`.

# 8. Mini Python Project

The problem: gather some statistics about a block of text.
- Overall word count.
- Number of times the words "woman" or "women" appear.
- Top 5 words, ordered by count.

It's OK to pass state between cells: they should be run from top to bottom. The last cell contains tests to validate that your answers are correct.

### 8.1 Overall word count
Key concepts: strings, lists, conversion, variables.

In [ ]:
# Text source: https://en.wikipedia.org/wiki/Women_in_science
text = """
Women have made significant contributions to science from the earliest times.
Historians with an interest in gender and science have illuminated the
scientific endeavors and accomplishments of women, the barriers they have
faced, and the strategies implemented to have their work peer-reviewed and
accepted in major scientific journals and other publications. The historical,
critical and sociological study of these issues has become an academic
discipline in its own right.

The involvement of women in the field of medicine occurred in several early
civilizations, and the study of natural philosophy in ancient Greece was open
to women. Women contributed to the proto-science of alchemy in the first or
second centuries AD. During the Middle Ages, convents were an important place
of education for women, and some of these communities provided opportunities
for women to contribute to scholarly research. While the eleventh century saw
the emergence of the first universities, women were, for the most part,
excluded from university education. Outside academia, botany was the science
that benefitted most from contributions of women in early modern times. The
attitude toward educating women in medical fields appears to have been more
liberal in Italy than in other places. The first known woman to earn a
university chair in a scientific field of studies was eighteenth-century
Italian scientist Laura Bassi.
"""

words = ???
number_of_words = ???
print(f"Number of words: {number_of_words}")

## 8.2. Number of occurrences of "woman" or "women"
Count the number of times the words "woman" or "women" appear. These words should be considered equivalent, so one number should be printed out. 

Key concepts: functions, string manipulation, loops, comprehension, conditional, lists.

In [ ]:
women_occurrences = ???
print(f"Occurrences of 'women': {women_occurrences}")

## 8.3.Top 5 words, ordered by count
Print the top 5 words that _don't_ appear in this list: _a an and for from has have in its of the to was were with_.

Key concepts: dictionary, sort, slice, lambda (anonymous function).

In [ ]:
top_words = ???
print(top_words)

## 8.4. Tests / Validation
Run this code without modification to see whether your solution is correct.

In [ ]:
assert number_of_words == 216, "Expected 216 words"
assert women_occurrences == 11, "Expected 11 occurrences of 'woman' or 'women'"
assert top_words == ['women', 'science', 'scientific', 'first', 'contributions'], "Top 7 words don't match expectation"
print("Tests passed! 🎉")

## 9. Further reading

* https://docs.python.org/3/tutorial/ - The Python tutorial
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* http://www.diveintopython3.net/ - Another free ebook Dive Into Python 3
* http://www.thomas-cokelaer.info/tutorials/python/ - Python notes
* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended.


* https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PythonForDataScience.pdf Python cheat sheet for variables and data types, Strings, Lists

References:

 * The Python 3 Language Reference: https://docs.python.org/3/reference/index.html
 * The Python 3 Standard Library: https://docs.python.org/3/library/